/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*
  1. Vị trí
  2. Kích thước
  3. Màu sắc
  4. Kiểu dáng
*/
#main {
}
#header {
  height: 46px;
  background-color: #000;
}
#nav {
  display: inline-block;
}
#slider {
}
#content {
}
#footer {
}
