/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
/*
  1. Vị trí
  2. Kích thước
  3. Màu sắc
  4. Kiểu dáng
*/
#main {
}
#header {
  height: 46px;
  background-color: #000;
}
#nav > li {
  display: inline-block;
}
#nav li {
  line-height: 46px;
  position: relative;
}
#nav > li > a {
  color: white;
}
#nav li > a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 24px;
  display: block;
}
#nav > li:hover > a,
#nav .subnav > li:hover > a {
  color: #000;
  background-color: #ccc;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
#nav .subnav li {
  min-width: 160px;
}
#nav .subnav a {
  color: #000;
  padding: 8px 16px;
  text-transform: capitalize;
  line-height: 22px;
}

#slider {
}
#content {
}
#footer {
}
