/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
}
#header {
  height: 46px;
  background-color: #000;
}
#nav {
}
#slider {
}
#content {
}
#footer {
}
