/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
}
#header {
}
#nav {
}
#slider {
}
#content {
}
#footer {
}
