/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
}
#header {
  height: 46px;
  background-color: #000;
}
#nav {
  height: 46px;
  display: flex;
  align-items: center;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav > li {
  padding: 0 24px;
  height: 46px;
  display: flex;
  align-items: center;
  position: relative;
}
#nav > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
}
#nav .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#nav .subnav li {
  display: block;
  padding: 0 24px;
  height: 38px;
  line-height: 38px;
  background-color: white;
}
#nav .subnav li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
#nav li:hover {
  background-color: #ccc;
  cursor: pointer;
}
#nav li:hover .subnav {
  display: block;
}
#slider {
}
#content {
}
#footer {
}
