/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
}
#header {
  height: 46px;
  background-color: #000;
}
#nav {
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}
#nav > li > a {
  color: #fff;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}
#nav .subnav {
  /* display: none; */
  position: absolute;
  background-color: #fff;
}
#nav .subnav a {
  color: #000;
  display: block;
}
#slider {
  min-height: 500px;
  background-color: #333;
}
#content {
}
#footer {
}
